{% extends 'base.html' %} {% load static %} {% block content %}
<div
  style="height: 80vh; background: #01200"
  class="d-flex align-items-center justify-content-around gap-5 container"
>
  <div>
    <h1 class="display-4 text-center">
      Savor the flavors of <br />
      <span class="text-success"> M-Foodies</span>
    </h1>
    <p class="lead text-center">Where taste meets comfort.</p>
    <p class="text-center">Indulge in culinary excellence.</p>
  </div>
  <img
    src="static/images/set-meals.jpg"
    alt="header-img"
    class="w-50 d-block rounded"
  />
</div>
{% endblock %}
